.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2;
}
.modal {
    background-color: rgb(0, 60, 128);
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 40%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px 15px;
    text-align: center;
    color: white;
    border-radius: 5px;
    position: fixed;
    z-index: 32;
}

.modal-title {
    font-weight: 600px;
    margin-top: 0;
    margin-bottom: 0;

}

.modal-descr {
    margin-bottom: 0;
    margin-top: 0;
}

.modal-buttons {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    button {
        cursor: pointer;
        padding: 7px 10px;
        background-image: linear-gradient(180deg,#fceb36,#f7d118);
        border: none;
        border-radius: 5px;
    }
}

.modal-closedBtn {
  cursor: pointer; 
  position: absolute;
  width: 24px;
  height: 24px;
    top: 20px; 
   right: 35px;
   z-index: 3;
 &:before, &:after {
    content: ""; 
    position: absolute; 
    width: 24px; 
    height: 2px; 
    right: 0;
    top: 50%;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    background: rgb(255, 253, 253);}
    &:before {
        transform: rotate(45deg);}
    &:after {
        transform: rotate(-45deg);}
}

.modal-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    gap: 10px;

    img {
        max-width: 100px;
    }
}

.modal-descr--price {
    font-size: 20px;
}