.product-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 15px;
     border: 2px solid rgb(194, 194, 194);
    max-width: 250px;
    text-align: left;
    gap: 10px;

    &:hover {
        border: 2px solid rgb(0, 60, 128);
    }
}

.product-card__link {
    list-style: none;
    align-self: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-top: auto;
}
.product-card__image {
    max-width: 80%;
}

.card__link--name {
    color: rgb(0, 60, 128);

    &:hover {
        text-decoration: underline;
    }
}

.product-card__title {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;

}


.product-card__color {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: lowercase;
}

.product-card__price {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: lowercase;

    span {
        display: block;
        margin-top: 5px;
        font-weight: bold;
        font-size: 28px;

        &::after {
            content: "₴";
            margin-left: 5px;
            font-size: 20px;
        }
    }
}

.product-card__number {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: lowercase;
}

.product-card__btn {
    align-self: center;
    padding: 7px 10px;
    background-image: linear-gradient(180deg,#fceb36,#f7d118);
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    cursor: pointer;

    &:hover {
        box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.41);
    }
}