.container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container--products {
    display: flex;
    align-items: center;
    justify-content: center;
}