.header-page {
    margin-bottom: 20px;
    background-color: rgb(0, 60, 128);
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-page--container {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
}


.header-page__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    cursor: pointer;
    position: relative;
 
    .counter {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: white;
        position: absolute;
        bottom: 11px;
        left: 60px;
        text-align: center;

        p {
            font-size: 12px;
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .counter-fav {
        left: 64px;
    }
    .icon-descr {
        color: rgb(194, 194, 194);
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 0;
    }
 
    .header-page__icon {
        fill:rgb(194, 194, 194);
        &:hover {
            fill: white;
            color: white;
        }
    }
 
    &:hover {
        .icon-descr {
            color: white;
        }
 
        .header-page__icon {
            fill: white;
        }
    }
 }